@use '../abstracts/variables';

.card__btn {
    background-color: transparent;
    color: map-get(variables.$palette, "text-1");
    border: 2px solid map-get(variables.$palette, "text-1");
    font-family: map-get(variables.$font, "title");
    font-weight: 500;
    align-self: flex-start;
    font-size: 100%;
    padding: .8rem 1rem;
    cursor: pointer;
    &:hover {
        color: map-get(variables.$palette, "acc-1");
        border: 2px solid map-get(variables.$palette, "acc-1");
        transition: 90ms all;
    }
}