@use '../abstracts/variables';

.indexHero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/walls/index-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: brightness(40%);
    }
}

.indexHero__logo {
    z-index: 10;
    height: 18%;
    width: auto;
}

.indexHero__btn {
    z-index: 10;
    margin-top: 10rem;
    padding: .8rem 1.2rem;
    background-color: transparent;
    border-radius: 2px;
    border: 3px solid map-get(variables.$palette, "acc-2");
    color: map-get(variables.$palette, "acc-2");
    font-family: map-get(variables.$font, "title");
    font-size: 1.3rem;
    cursor: pointer;
    transition: .1s all;
    &:hover {
        transition: .1s all;
        border: 3px solid map-get(variables.$palette, "acc-1");
        color: map-get(variables.$palette, "acc-1");
        transform: scale(.98);
    }
}

.indexTitle {
    padding-top: 4rem;
    margin-bottom: 1rem;
}

.indexDesc {
    margin: 2.8rem auto 6rem auto;
    width: 20%;
}

.indexCards {
    padding: 0 12%;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: row wrap;
    gap: 6rem 3rem;
    justify-content: center;
    align-items: flex-start;
}