.cart--show {
    width: 32px;
    height: 32px;
    background-color: black;
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.cart--badge {
    width: 64px;
    height: 32px;
    background-color: green;
    border-radius: 5px;
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.cart {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 16%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 0 1rem;
    /* display: none; */
}

.cart__article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
}

.cart__article--img {
    width: auto;
    height: 150px;
}

.cart__article--div {
    border: 1px solid gray;
    height: 90%;
}

.article__name {
    margin-bottom: 1rem;
}

.article__price {
    color: gray;
}

.cart__article--remove {
    cursor: pointer;
}

.cart__total {
    position: absolute;
    bottom: 10px;
}

.cart__btns {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-flow: row nowrap;
}

.cart__btns--empty, .cart__btns--buy {
    border: 1px solid black;
    border-radius: 2px;
    padding: .7rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.cart__btns--empty:hover, .cart__btns--buy:hover {
    transition: .1s all;
    color: goldenrod;
    border: 1px solid goldenrod;
}