@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

ul {
  list-style: none;
}
ul li {
  list-style-type: none;
}

form, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  appearance: none;
}

.nav {
  font-family: "Roboto Mono";
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.heroTitle {
  font-family: "Ibarra Real Nova";
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.heroDesc {
  text-align: center;
  font-family: "Gelasio";
  font-size: 1rem;
  font-weight: 400;
  word-spacing: 0.1rem;
  color: #838383;
  line-height: 2rem;
  letter-spacing: 0.01rem;
}

.card__text--type {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto Mono";
  color: #BCBCBC;
}

.card__text--title, .card__text--price {
  font-size: 1.1rem;
  font-weight: 500;
  word-spacing: 0.04rem;
  line-height: 25px;
  text-transform: capitalize;
  font-family: "Gelasio";
  color: #1C1C1C;
}

.card__text--price {
  color: #777777;
  font-weight: 400;
}

.card {
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.8rem;
  min-width: 450px;
}

header {
  padding: 2rem 8%;
  background-color: #191919;
  color: #CCC;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url("https://www.springinstrumentos.com/images/header_logo_spring.svg");
  background-size: cover;
  width: 110px;
  height: 30px;
  transition: top 0.5s ease;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 2px;
  background-color: #D2AF6D;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger3 .bar1 {
  transform-origin: 5%;
}

.hamburger3 .bar4 {
  transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3 {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2 {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4 {
  transform: rotate(-45deg);
  height: 3px;
  width: 42px;
}

.nav > ul {
  display: flex;
  flex-flow: row nowrap;
}
.nav > ul li a {
  padding: 0.3rem 2rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.nav > ul li a:hover {
  color: #D2AF6D;
  transition: all 0.2s ease;
}

.heroTitle {
  padding: 4rem 0;
}

.heroDesc {
  margin: 0 auto 6rem auto;
  width: 32rem;
}

.indexCards {
  padding: 0 12%;
  margin-bottom: 10rem;
  display: flex;
  flex-flow: row wrap;
  gap: 6rem 3rem;
  justify-content: center;
  align-items: flex-start;
}

/*# sourceMappingURL=main.css.map */
